/*Color Login*/
.w3l-login-form {
    background: rgba(19, 19, 20, 0.412);
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
}

.group {
    display: flex;
    padding: 15px 5px;
    background-color: #f0f0f5;
}

.group i {
    color: #0524ee;
    font-size: 20px;
    padding: 0 10px;
}

.w3l-form-group {
    margin: 20px 0;
}


/*Label*/
.w3l-form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #dfe21e;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}
/*Boton*/
button {
    background: #e9e8ee;
    color: #110e0e;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}
/*espacio*/
.forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/*Label superior*/
h2 {
    margin: 0;
    color: #e4f312;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}


